body {
  background: #00007b;
}

#user-selection {
  background: #000;
}

.canvases {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #bdbdbd;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

#scoreboard {
  //margin-top: 25px;
}